<p>Reactive Form with Validation</p>
<div class="container">
  <div class="row">
    <form class="center" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>&nbsp;
        <input placeholder="Name"
               id="name" required
               type="text"
               formControlName="name"/>
        <div *ngIf="getForm.name.touched && getForm.name.invalid" class="invalid-feedback">
          <div *ngIf="getForm.name.errors.required">Name is required</div>
          <div *ngIf="getForm.name.errors.pattern">Must start from Capital Letter</div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="name">Company</label>&nbsp;
        <input placeholder="Company" required
               id="company" type="text" name="company"
               formControlName="company"/>
        <div *ngIf="getForm.company.touched && getForm.company.invalid" class="invalid-feedback">
          <div *ngIf="getForm.company.errors.required">Company is required</div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label>Area</label>&nbsp;
        <select name="area" id="area" required
                formControlName="area">
          <option disabled>Select Area</option>
          <option value="rajkot">Rajkot</option>
          <option value="amd">Ahmedabad</option>
          <option value="baroda">Baroda</option>
        </select>
        <div *ngIf="getForm.area.touched && getForm.area.invalid" class="invalid-feedback">
          <div *ngIf="getForm.area.errors.required">Area is required</div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label>Gender</label>&nbsp;
        <div *ngFor="let gender of genderData; let i=index">
          <label>
            <input type="checkbox" [value]="gender.value" (change)="onCheckboxChange($event)"/>
            {{gender.name}}
          </label>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label>isNewToCompany</label>&nbsp;
        <input formControlName="isNewToCompany"
               name="isNewToCompany"
               id="yes"
               type="radio"
               value="yes"/>
        <label>Yes</label>
        <input formControlName="isNewToCompany"
               name="isNewToCompany"
               id="no"
               type="radio"
               value="no"/>
        <label>No</label>
      </div>
      <br>

      <div class="form-group">
        <label>Mobile No</label>&nbsp;
        <input placeholder="+000-00-000"
               type="text" [maxLength]="11" required
               id="mobile" name="mobile"
               formControlName="mobile"/>
        <div *ngIf="getForm.mobile.invalid && getForm.mobile.touched" class="invalid-feedback">
          <div *ngIf="getForm.mobile.errors.required">Mobile Number is required.</div>
          <div *ngIf="getForm.mobile.errors.pattern">Invalid Mobile Number.</div>
        </div>
      </div>
      <br>
      <div>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
