<!--<app-header></app-header>-->

<!-- create component with selector name 'example-angular' and class name 'ExeAngularComp' and use it in app component -->
<!--<example-angular></example-angular> -->


<!-- create component  'user-example' ->  write  three dummy paragraph(<p></p>)  and give different color to all paragraph  (all code should be written in user-example.component.ts file -->
<!--<user-example></user-example>-->

<!-- create and use component by giving  class name to any html tag in app component  -->
<div class = "app-header"> </div>

<h1>
  {{title}}
</h1>
<!--div #parent will contain our child components -->
<div #parent></div>
