<p>Router Login Page</p>

<form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label>User Name</label>&nbsp;
  <input type="text"
         formControlName="username"
         [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }"
         name="username"
         required><br>
  <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
    <div *ngIf="loginForm.controls.username.errors.required">User Name is Required</div>
  </div>
  <br><br>

  <label>Password</label>&nbsp;
  <input type="password" formControlName="password"
         [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }"
         name="password"
         required>

  <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
    <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
  </div>
  <br>
  {{this.errorMessage}}
  <br>
  <button class="btn btn-primary" routerLinkActive="active" type="submit" (click)="onSubmit()">Submit</button>
</form>
