<!--
<div>
  <table border="3">
    <thead>
    <th>Color</th>
    <th>Text</th>
    </thead>
    <tbody>
    <tr *ngFor="let custom of colours">
      <td>{{custom.colour}}</td>
      <td>{{custom.text}}</td>
    </tr>
    </tbody>
  </table>
</div>
-->

<p>This is <span app-directives>Angular9</span></p>

<div app-directives color="blue" size="35px">
  Custom Theme Directive Demo with Custom Settings
</div>


<table>
  <tr>
    <td>
      <label>Please enter your password :-</label>
    </td>
    <td>
      <input type="text" app-directives defaultValue="3"/>
    </td>
  </tr>
</table>


