<!--
<div>
  <table border="3">
    <thead>
    <th>Color</th>
    <th>Text</th>
    </thead>
    <tbody>
    <tr *ngFor="let custom of colours">
      <td>{{custom.colour}}</td>
      <td>{{custom.text}}</td>
    </tr>
    </tbody>
  </table>
</div>
-->

<p>This is <span app-directives>Angular9</span></p>

<div app-directives color="blue" size="35px">
  Custom Theme Directive Demo with Custom Settings
</div>

<h2>Fruit Available</h2>
<ul class="newcomp">
  <li *ngFor="let fruit of fruits"
      [class.selected]="fruit === selectedFruits"
      (click)="onSelect(fruit)">
    <span class="badge">{{fruit.id}}{{fruit.name}}</span>
  </li>
</ul>

<div *ngIf="selectedFruits">
  <h2>{{selectedFruits.name | uppercase}} Details</h2>

  <div>
    <label>Name</label>
    <input [(ngModel)]="selectedFruits.name" placeholder="name">
  </div>
</div>
