<p>Job List Page</p>

<table border="1">
  <thead>
  <th>ID</th>
  <th>Title</th>
  <th>Company</th>
  <th>Place</th>
  <th>Created Time</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let job of jobListDetail; let i = index">
    <td (click)="tableRowSelected(job.id)">{{job.id}}</td>
    <td (click)="tableRowSelected(job.id)">{{job.title}}</td>
    <td (click)="tableRowSelected(job.id)">{{job.company}}</td>
    <td (click)="tableRowSelected(job.id)">{{job.place}}</td>
    <td (click)="tableRowSelected(job.id)">{{job.jobCreatedTime}}</td>
    <td>
      <button class="btn btn-primary" type="button" routerLinkActive="active"
              [routerLink]="['job-post']"
              [queryParams]="{id: job.id}">Edit Job
      </button>
    </td>
  </tr>
  </tbody>
</table>
