<div class="row">
  <div class="col-xs-12">
    <form action="" #authForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>
        <input type="email"
               id="email"
               name="email"
               [(ngModel)]="signInModal.email"
               required
               class="form-control">
      </div>
      <br>

      <div class="form-group">
        <label>Password</label>
        <input type="password"
               id="password"
               name="password"
               [(ngModel)]="signInModal.password"
               class="form-control">
      </div>
      <br>
      <div *ngIf="errMessage">
        <span class="error-message">{{errMessage}}</span>
      </div><br>

      <div>
        <button class="btn btn-primary" type="submit"
                [disabled]="!authForm.valid">Login
        </button>&nbsp;
      </div>
    </form>
  </div>
</div>
