<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">

        <h2>The Basic</h2>
        <!-- example-angular -->
        <!--<example-angular></example-angular>-->

        <!-- User-Examples -->
        <!--<user-example></user-example>-->
        <li><a routerLink="/array">Blank Array Example</a></li>
        <li><a routerLink="/dropdown">Angular Dropdown</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <h2>Components & Databinding Deep Dive</h2>
        <li><a routerLink="/parent">Parent Child Component</a></li>
        <li><a routerLink="/user">User Component</a></li>
        <li><a routerLink="/life-cycle">Life Cycle</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <h2>Directives Deep Dive</h2>
        <li><a routerLink="/directives">Custom directive</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <h2>Using Services & Dependency Injection</h2>
        <li><a routerLink="/service">Student Login Component</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <h2>Router</h2>
        <li><a routerLink="/router-header">Login</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <h2>Form</h2>
        <li><a routerLink="/reactive-form">Reactive Form</a></li>
        <li><a routerLink="/template-form">Template Form</a></li>
      </ul>

      <ul observables="nav navbar-nav">
        <h2>Observables</h2>
        <li><a routerLink="/observables">Observables Exercise</a></li>
      </ul>

      <ul observables="nav navbar-nav">
        <h2>Using Pipes to Transform Output</h2>
        <li><a routerLink="/pipe">Pipe Exercise</a></li>
      </ul>

      <ul observables="nav navbar-nav">
        <h2>Making Http Requests</h2>
        <li><a routerLink="/manage-http-user">Making Http Requests</a></li>
      </ul>

      <ul observables="nav navbar-nav">
        <h2>Authentication & Route Protection in Angular</h2>
        <!--<li><a routerLink="/authentication">Authentication & Route Protection in Angular</a></li>-->
        <li><a routerLink="/auth">Authentication & Interceptor Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

